.NavigationItems{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


@media(min-width: 50em){
    .NavigationItems{
        flex-direction: row;
    }
}