@import '../../assets/styles/variables.scss';

.drawertoggle {
    width: 4rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    box-sizing: border-box;
    cursor: pointer;

    @media (min-width: $nav-breakpoint) {
        display: none;
    }

    &__bar{
        border-radius: 2rem;
        width: 90%;
        height: .5rem;
        background-color: white;
    }
}
