.Input{
    width: 100%;
    padding: 1rem;
}

/* .Label {
    font-weight: 700;
    display: block;
    margin-bottom: .8rem;
} */

.InputElement {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: .6rem 1rem;
}

.InputElement:focus{
    outline: 1px solid burlywood;
}