@import '../../assets/styles/variables.scss';

.sidedrawer{
    display: none;
    position: absolute;
    width: 28rem;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: $side-drawer-index;
    background-color: whitesmoke;
    padding: 3.2rem 1.6rem;
    transition: transform .3s cubic-bezier(.42,1,.13,.97);

    &--open{
        @extend .sidedrawer;
        transform: translateX(0);
    }

    &--close{
        @extend .sidedrawer;
        transform: translateX(-100%);
    }

    @media screen and (max-width: $nav-logout-breakpoint) {
        display: block;
    }
}


