.Button {
    text-shadow: .2rem .2rem .4rem lightgray;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
}

.Button:active{
    text-shadow: .1rem .1rem .2rem rgb(146, 146, 146);
}

.Button:first-of-type {
    margin-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Button:disabled{
    color: gray;
    background-color: rgb(187, 180, 180);
}