@import '../../assets/styles/variables.scss';

.drawertoggle {
    width: 5rem;
    height: 5rem;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;

    @media (max-width: $nav-logout-breakpoint) {
        display: flex;
    }

    &__bar{
        border-radius: 2rem;
        margin-bottom: .5rem;
        width: 80%;
        height: .5rem;
        background-color: wheat;
    }
}
