@import '../../assets/styles/variables.scss';

.drawertoggle {
    // display: none;
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;

    @media (min-width: $nav-breakpoint) {
        display: none;
    }

    &__bar{
        border-radius: 2rem;
        margin-bottom: .5rem;
        width: 90%;
        height: .5rem;
        background-color: whitesmoke;
    }
}
