@import '../../assets/styles/variables.scss';

//adjustment for webkit autofilling
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $secondary-dark;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-input{
    border-radius: .5rem;
    padding: .7rem;
    text-align: left;
    margin-bottom: 2rem;
    background-color: rgba($secondary-dark,0.15);

    &--inactive{
        @extend .form-input;
        background-color: transparent;
    }


    &__label{
        font-size: 1.6rem;
        display: block;
        color: whitesmoke;
    }

    &__field{
        color: $secondary-dark;
        border: none;
        background-color: transparent;
        outline: none;
        width: 100%;
        padding: {
            top: .5rem;
            bottom: .5rem;
        }
        font-family: inherit;
        font-size: 1.7rem;
        
    }

    &__toolkit{
        font-size: 1.4rem;
        color: lighten($danger,35%);
    }
}