.toolbar{
    height: 5.6rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 90;

    &__nav{
        height: 100%;
        
        @media screen and (max-width: 30.2em) {
            display: none;
        }
    }
}



