.Logo{
    background-color: #FFF;
    padding: .8rem;
    border-radius: .5rem;
}


.Logo img{
    height: 100%;
}




.Logo__side{
    height: 11%;
    margin-bottom: 3.2rem;
}

.Logo__tool{
    height: 80%;
}

