.logo{
    background-image: url('../../assets/icons/burger-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    width: 5rem;    
    height: 100%;
   
    @media screen and (max-width: 30.2em) {
        display: none;
    }
}




