.modal {
    position: fixed;
    z-index: 500;
    background-color: whitesmoke;
    width: 70%;
    padding: 1.6rem;
    left: 15%;
    top: 30%;
    box-sizing: border-box;

    transform: translateY(-100vh);
    opacity: 0;
    transition: opacity 0.1s cubic-bezier(1,0,1,0);

    @media (min-width: 60em) {
            width: 50rem;
            left: calc(50% - 25rem);
    }

    &--show{
        transform: translateY(0);
        opacity: 1;
    }
}

