@import '../../assets/styles/variables.scss';

.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    &__nav{
        height: 100%;
        padding-right: 1rem;
        @media screen and (max-width: $nav-breakpoint) {
            display: none;
        }
    }
}



