@import '../../assets/styles/variables.scss';

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-image: linear-gradient(45deg, rgba($primary-dark, 0.7), rgba($secondary-light,0.7))
}