@import '../../assets/styles/variables.scss';

.modal {
    position: absolute;
    z-index: $modal-index;
    background-color: whitesmoke;
    box-shadow: $shadow-inactive;
    width: 70%;
    padding: 1.6rem;
    left: 15%;
    top: 30%;

    transform: translateY(-100vh);
    opacity: 0;
    transition: opacity 0.1s cubic-bezier(1,0,1,0);

    @media (min-width: 60em) {
            width: 50rem;
            left: calc(50% - 25rem);
    }

    &--show{
        transform: translateY(0);
        opacity: 1;
    }
}

