.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: .1rem solid #ccc;
    box-shadow: .1rem .1rem .1rem black;
    padding: 1.6rem;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: opacity 0.1s cubic-bezier(1,0,1,0);
}

@media (min-width: 60em) {
    .Modal {
        width: 50rem;
        left: calc(50% - 250px);
    }
}