@import '../../assets/styles/variables.scss';

.burger{
	// padding: 2rem;
    width: 35rem;
    max-width: 40.5rem;
    height: 25rem;
    overflow: auto;   
    text-align: center;	
    font-weight: bold;
	font-size: 1.2rem;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: flex-end;


	&__instruction{
		margin: 1rem;
		font-size: 1.6rem;
		color: whitesmoke;
	}
	
}

