@import '../../assets/styles//variables.scss';


.order{
    border-top-right-radius: 1.5rem;
    background-color: rgba($secondary-light,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: .2rem .2rem .4rem $shadow-inactive;
    min-width: 48rem;


    &__ingredients{
        display: flex;
        padding: .8rem;
        margin: {
            left: .5rem;
            right: .5rem;
        }
    }

    &__ingredient{
        list-style: none;
    }

}