@import '../../assets/styles/variables.scss';

.orders{
    overflow: auto;
    color: wheat;
    height: 60vh;
    width: 80%;
    margin: 2rem;

    @media screen and (max-width: $app-breakpoint){
        height: auto;
    }
    
    @media screen and (max-width: $order-breakpoint){
        width: 100%;
    }

    
    &>ul {
        padding: .1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__order{
        list-style: none;
        margin: .8rem;
    }
}