@import '../../assets/styles/variables.scss';

.alert {
    position: absolute;
    z-index: $alert-index;
    background-color: whitesmoke;
    box-shadow: $shadow-inactive;
    margin: auto;
    padding: 1.6rem;

}

