@import '../../assets/styles/variables.scss';

@mixin formatKey ($color){
    &>span{
        font-weight: 700;
        color: $color;
    }
}



.order-summary{
    font-size: 1.7rem;
    color: $secondary-dark;
    padding: 2rem;
    border-top-right-radius: 2rem;
    border: 3px double $secondary-dark;
    background-color: rgba($secondary-light,0.1);
    box-shadow: .2rem .2rem .4rem $shadow-active;


    &__heading{
        margin-bottom: 1rem;
        color: $secondary-light
    }

    &__items{
        margin-bottom: 1rem;
        @include formatKey(wheat)
    }

    &__item{
        list-style: none;

        &--cheese{
            color: $more;
        }

        &--salad{
            color: $success;
        }

        &--bacon{
            color:lighten(#bf3813,40%);
        }

        &--meat{
            color: lighten($primary-light,20%);
        }
   
    }


    &__price{
        margin-bottom: 1rem;
        color: $more;
        @include formatKey(wheat)
    }

    &__address{
        @include formatKey(wheat);
        color: lighten($success,40%);
        font-style: normal;
    }

    &__button{
        margin: 1rem;
    }
}