@import '../../assets/styles/variables.scss';

.login{
    position: relative;
    width: 60%;
    max-width: 50rem;
    text-align: center;
    color: $secondary-dark;
    // box-shadow: 0 .2rem .3rem #ccc;
    padding: 1rem;

    &__toolkit{
        margin-bottom: 3rem;
        // color: $secondary-dark;
        font-size: 2rem;
    }

    &__error{
        margin-bottom: 1rem;
        color: lighten($danger,30%)
    }

    &__submit{
        margin-bottom: 2rem;
    }

    @media screen and (max-width: $form-input-breakpoint){
        width: 90%;
    }
}

