.ContactData {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 .2rem .3rem #ccc;
    padding: 1rem;
}

.ContactData h4{
    margin-bottom: 2rem;
}


@media (min-width: 60em){
    .ContactData{
        width: 50rem;
    }
}