
//breakpoints
$nav-breakpoint: 24em; //320px
$app-breakpoint: 51em; //873
$nav-login-breakpoint: 45em; //680px
$form-input-breakpoint: 30em; //450px

$order-breakpoint: 39em; 
$order-column-breakpoint: 32em;

$nav-in-breakpoint: 46em;
$nav-in-breakpoint-2: 33em;
$nav-logout-breakpoint: 24em;

//colors
$primary-dark: #581c0c;
$primary-light: #ca5116;
$secondary-dark: #f9b384;
$secondary-light: #f1e3cb;

$success: #79d70f;
$danger: #d92027;
$more: #ffcd3c;
$less: $secondary-dark;
$disabled: #d4cdcd;



$root-dark: #184d47;
$root-light: #96bb7c;


//button shadow
$shadow-inactive: rgba(#211717,0.2);
$shadow-active: rgba(#211717,0.4);


//z-index
$alert-index: 500;
$side-drawer-index: 200;
$backdrop-index: 100;