@import '../../assets/styles/variables.scss';

.main{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;

}

