@import '../../assets/styles/variables.scss';
@import '../../assets/styles/animations.scss';

@mixin modify-button($color){
    @extend .button;
    background-color: $color;
    color: darken($color, 40%);
    &:focus{
        outline: darken($color, 50%)
    }
}

.button {
    border: none;
    min-width: 8rem;
    box-shadow: .2rem .2rem .4rem $shadow-inactive;
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5rem;
    padding: .8rem 1rem;

    &:active{
        box-shadow: .1rem .1rem .2rem $shadow-active;
        transform: translateY(.1rem);
    }

    &:first-of-type{
        margin-left: 0;
    }

    &:disabled{
        color: darken($disabled,40%);
        background-color: $disabled;
    }

    &:not(:disabled) {
        animation: enable-button 0.3s linear;
     }


    &--success{
        @include modify-button($success);
    }

    &--failed{
        @include modify-button($danger);
    }

    &--more{
        @include modify-button($more);
    }

    &--less{
        @include modify-button($less);
    }

}

